.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.main {
  border-radius: 10px;
  position:fixed;
  background: white;
  width: 720px;
  height: 595px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.button {
  border: none;
  align-self: flex-end;
  width: 40px;
  margin: 15px 15px 15px 15px;
}

.block {
  display: block;
}


.tour {
  width: 403px;
  height: 380px;
}

.signin {
  width: 446px;
  height: 447px;
}

.share {
  width: 403px;
  height: 480px;
}